
img{
  height: 10em;
    width: 10em;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
    background: yellow;
}

div{
  height: 10em;
  width:  10em;
  background: pink;
  display: inline-block;
  animation: recolor 5s infinite;
}

#red{
  background: red;
}

#yellow{
  background: yellow;
}

@keyframes recolor{
  to {background: purple;}
}

button {
  background:  blue;
  box-shadow: .5em .5em gray;
  padding: 1em;
  font-size: 1em;
  border-radius: 1em;
}






