div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

#green {background:green;}
#blue {background:blue;}

div {animation: recolor 5s infinite;}
@keyframes recolor {to{background: green;}}
