img, div {
  height 12em; 
  width 12em;
  display: inline-block;
  margin: 1em;
}

div {animation: recolor 5s infinite;}
@keyframes recolor {to{background:white;}}

#blue {background:blue;}
#green {backround:green;}

button {
  border-radius: 2em;
  background: black;
  blackground: grey;
}

a:hover {
  background: gold;
  text-decoration:none;
}
