p {
  color: #6600ff;
  font-size: 3em;
}

img {
  height: 10em;
  width: 16em;
}

div {
  height: 10em;
  width: 10em;
  margin: 1em:
}

#green {
  background: green;
}

#purple {
  background: purple;
}

