p {
  color: #6600ff;
  font-size: 3em;
}

img {
  height: 25em;
  width: 30em;
  display: none;
}

div {
  height: 10em;
  width: 10em;
  margin: 1em;
}

#green {
  background: green;
}

#purple {
  background: purple;
}

div {
  animation: recolor 5s infinite;
}

@keyframes recolor {
  to {
    background: blue;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background: url('https://images.pexels.com/photos/162149/dog-black-labrador-black-dog-162149.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

