div, img {
  height: 14em;
  width:  14em;
  display: inline-block;
  margin: 1em;
}

div {
        animation: recolor 8s infinite;
}
@keyframes recolor {
  to {background: #33cc33;}
}

#red {
  background: #ff0000;
}
#blue {
  background: ##4d4dff;
}
