img{
  height: 10em;
  width: 10em;
} 
a {text-decorations: none;}

a:hoover{
  text-decoration: underline;
  background: tan;
}
div{
  heigh: 10em;
  width: 10em;
  background: tan;
  display: inline-block;
  animation: recolor 5s infinite;
}
#green{
  background: green;
}
@keyframes recolor{
  to {background: tan;}
}

@mediaonly screen and (max-width: 600px){
  body{
    background: url('https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
