img {
  height: 10em;
  width: 10em;
}
a{
  text-decoration: none
}
a:hover {
  text-decoration: underline;
  background: green;
}
div{
  height: 10em;
  width: 10em;
  display: inline-block;
  animation: recolor 5s infinite;
}
#green {
  background: green;
#orange {
  background: orange;
}
@keyframe recolor {
  to {background: blue;}
}
@media only screen and (max-width: 600px) {
  body {
    background-color: green;
  }
}
   

 
