div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

#blue {background: blue;}
#turquoise {background: #ff8000;}

div {animation: recolor 5s infinite;}
@keyframes recolor {to {background: green;}}

button {
  border-radius: 2em;
}

#rounded {
  background: turquoise;
  color: white;
}

#animate {
  background: yellow;
  color: black;
}

#hide {
  background: blue;
  color: white;
}

@media only screen and (max-width: 600px){
  body {
    background: url('https://images.pexels.com/photos/1573724/pexels-photo-1573724.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

