img{
  height: 10em;
  width: 10em;
}

a{text-decoration: none;}

a:hover {
  text-decoration: underline;
  background: #836EC9;
}

div {
  height: 10em;
  width: 10em;
  background: #229DCF;
  display: inline-block;
  animation: recolor 5s infinite;
}

#teal {
  background: teal;
}
