div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}
div {
  animation: recolor 5s infinite;
}
@keyframes recolor {
  to {background: gray;}
}
#red {
  background: bf0f0f;
}
#black {
  background: black;
}
