div, img {
  height: 15em;
  width: 15em;
  display: inline-block;
  margin: 1em;
}
div {
  animation: recolor 5s infinite;
}
@keyframes recolor {
  to {background: red;}
}
#Go Big Red! {
  background: red;
  color:white;
}
#black {
  background: gray;
}
body{
  background: gray;
}

h1 {
    color: silver;
    text-align: center;
}

p {
    font-family: impact;
    font-size: 30px;
    color: red;
}

body{
  border-style: dashed;
}

body {
  margin: 00;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
</style>
</head>
<body>

<div class="Welcome to Mike's Husker Blog Site">
  <h1>Header</h1>
</div>

</body>
</html>

