div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

#red {background: #ff0000;}
#blue {background: #0000ff;}

div {animation: recolor 5s infinite;}
@keyframes recolor {to {background: yellow;}}

button {
  border-radius: 2em;
}

#rounded {
  background : green;
  color: white;
}

#animate {
  background: red;
  color: white;
}

#hide {
  background: yellow;
  color: orange;
}

