
img{
  height: 10em;
  width:10em;
  display:inline-block;
  margin:1em;}
a{
  text-decoration: none;
}
@keyframes recolor {
  to(background:blue;}
a:hover{
   text-decoration: underline;
   background:#eee6ff;
}

  div{
  height: 10em;
  width:10em;
  background: green;
  display:inline-block;
  margin:1em;
  animation: recolor 5s inifinite;
}
#blue {background:##f0e6ff;}
#violet {background:#00cc44;}

