
img{
  height: 10em;
  width:10em;
  display:inline-block;
  margin:1em;}
a{
  text-decoration: none;
}

a:hover{
   text-decoration: underline;
   background:#eee6ff;
}

  div{
  height: 10em;
  width:10em;
  background:violet;
  margin:1em;
  animation:recolor 5s inifinite;
}
#blue {background:##f0e6ff;}
#violet {background:#00cc44;}

@keyframes recolor{
  to{background:red;}
}

@media (max-width: 600px) {
  body{
    background: yellow;
  }

