img{
  height 15em;
  width: 15em;
}
a{
    text-decoration:none;
}
a:hover{
  text-decoration: underline;
  background: red;
}

div{
    height: 15em;
    width: 15em;
    background: grey;  
    display: inline-block;
    animation: recolor 5s infinite;
}

#green{
  background: green;
}

#blue{
  background: blue;
}

@keyframes recolor{
  to{background: pink;}
}


button{
  background: green;
  box-shadow: .5em .5em grey;
  padding: .5em;
  font-size: 1em;
  border-radius: 1em;
  margin-right: 2em;
}
