img{
  height 15em;
  width: 15em;
}
a{
    text-decoration:none;
}
a:hover[
  text-decoration: underline;
  background: yellow;
}

div{
    height: 15em;
    width: 15em;
    background: gray;
    display: inline-block;
    animation: recolor 5s infinite;
}

#green{
  background: green;
}

#blue{
  background: blue;
}

@keyframes recolor{
  to{background: pink;}
}
