div, img{
  height: 10em;
  width: 10em;
}
a:hover{
  text-decoration:underline;
  background: red;
}

div{
  height: 10em;
  width: 10em;
  background: green;
  display: inline-block;
  animation: recolor 5s infinite;
}
#red{
  background: red;
}
@keyframes recolor {
  to{background:purple;}
}
@media only screen and (max-width: 600px){
  body{
    background: green;
  }
}

