img{
  height:10em;
  width:10em;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:underline:
    Background:white;
}
div{
  height:10em;
  width:10em;
  background: white;
  display: inline-block;
  animation:recolor 5s infinte;
}
<div id= 'grey'></div>
#navy{
  backgroun: #004080;
}
@keyframes recolor {
  to backgroud: white;}
}
