img {
  height: 10em;
  width: 10em;
}

a{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
    background: pink;
}

div {
  height: 10em;
  width: 10em;
  background: green;
  display: inline-block;
  animation: recolor 5s infinite;
}

#purple {background: purple;}
#red {background: red;}

@keyframes recolor{
  to {background: purple;}
}

@media (max-width: 600px) {
  body {
    background: blue;
  }
}
