div,img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}
div {animation: recolor 5s infinte}
  @keyframes recolor{to {background:green;}}

  #red {background:red;}
  #green {background:green;}
@media only screen and (max-width: 600px){
  body {bacground:green}
  p {font-size:5em}

  button {
    background: pink;
    padding: 1em;
    border-radius: 2em:
    box-shadow: .5em .5em .53m gray;
  }
  
  img:hover{border-radius:12em;}
