    img{
         height:10em;
         width:10em;
         }
         a{
         text-decoration:none;
         }
         a:hover{
         test-decoration:underline:
         background:pink;
         }
         div{
         height:10em;
         width:10em:
         background:yellow;
         display:inline-block;
         animation: recolor 5s infinite;
         }
@keyframes recolor{
  to {background:purple;}
  }
