
img {
  height: 10em;
  width: 10em;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration:underline;
  background:yellow;
}

b {
  text-decoration: underline;
}


b:hover{
  text-decoration:none;
  background:green;


div{
  height:10em;
  width:10em;
  background: #aaff00;
  dispaly:inline-block;
  animation: recolor 5s infinite;
}

#red {
  background:red;
}

#blue{
  background:blue;
}
  
@keyframes recolor{
  to {background:#1affd1;}
}

@media only screen and (max-width:600px){
  body{
    background-color: yellow;
  }
}
