p {
  color: #29a329;
font-size: 2em;
}

imp {
  height: 10em;
  width: 10em;
}

div {
  height: 10em;
  width: 10em;
  margin: 1em;
}

#red {
  background: purple;
}
#green {
  background: orange;
}
