img{
  height: 10em;
  width: 10em;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
  background:blue;
}
div{
  height: 10em;
  width:10em;
  background: lilac;
  display:inline-block;
  animation:recolor 5s infinite;
}
#green {background:green;}
#blue {background:blue;}
@keyframes recolor {
  to{background:blue;}
}
@media (max-width: 600px) {
  body {
    background: yellow;
  }
}

  
