p {
color: #ff0000;
  font-size: 2em;
}

img {
  height: 20em; 
  width: 20em;
  display: none;
}

div {
  height: 10em;
  witdth: 10em;
  margin: 1em;
}

#seabrease {
  background: aqua;
}
#lavender {
  background: purple;
}

div {
  animation: recolor 5s infinite;
}

@keyframes recolor {
  to {background: red;
  }}

@media only screen and (max-width: 600px) {
  body{
    background: url('https://images.pexels.com/photos/1235706/pexels-photo-1235706.jpeg');
      background-size: cover;
      background-repeat: no-repeat;
      }
}
