div,img{ 
  Height: 12em;
  Width:  12em;
  display: inline-block;
  margin: 1em;
}
#teal {background:#009999;}
#red {background:red;}
  
  div{animation: recolor 5s infinite;}
@keyframes recolor{to{background:yellow;}}


button{
  border-radius: 2em;
}

#rounded {
  background: green;
  color: black;
}

#animate { 
  background: orange;
  color: purple;
}

#hide{
  background: blue;
  Color: white;
}

  @media only screen and (max-width: 600px){
    body{
      background: url('https://images.pexels.com/photos/50582/selfie-monkey-self-portrait-macaca-nigra-50582.jpeg');
      background-size: cover;
      bacgfround-repeat: no-repeat;
    }
}
