img{
  height:10em;
  width:10em;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
  background:yellow;
}

div,img{
  height:10em;
  width:10em;
  background: blue;
  display:inline-block;
  margin:1em;
  animation:recolor 5s infinite;
}

#red{
  background:red;
}

#yellow{
  background:yellow;
}

#green{
  background:green;
}
#green-paragraph{
  color:green;
}

@keyframes recolor{
  to{background: blue;}
}
