div, img {height: 12cm; width: 12cm; display: inline-block; margin:1cm}
body{background-image: url('https://images.pexels.com/photos/2422915/pexels-photo-2422915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;}
