img {
  height: 10em;
  width: 10em;
}

a{text-decoration: none;}

a:hover {
  text-decoration: underline;
  background: green;
}

div {
  height: 10em;
  width: 10em;
  background: gray;
  display: inline-block;
  animation: recolor 2s infinite;
}

@keyframes recolor {
  to (background: pink;}
}
