
div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

div { animation: recolor 5s infinite; }
@keyframes recolor { to { background: white; } }

#orange { background: #ff9900; }
#pink { background: #ff33cc; }

@media only screen and (max-width: 600px) {
  body {background: green}
  p{font-size: 5em}
}
