
div {
  height:10em;
  width: 10em;
  background: pink;
  display: inline-block;
  animation: recolor 5s infinate:
}

#red {
  bsckground: red;
}

@keyframes recolor{
  to {background:purple;}
}

@media only screen and (max-width:600px) {
  body{
    backround-color:green;
  }
} 
