div,img{
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

img {
  display:none;
}

#blue{
  background:#3399ff;
}

#orange{
  background:#cc6600;
}

div{
  animation: recolor 5s infinite;
}
@keyframes recolor {
  to{background:gray;}
