div,img{
  height: 10em;
  width: 10em;
  display: inline-block;
  margin: 1em;
}



#blue{
  background:#6699ff;
}

#orange{
  background:#cc6600;
}

#red{
  background:#ff00ff;
}

#yellow{
  background:#ffff99;
}

button {
  background: green;
  box-shadow: .5em .5em gray;
  padding: 1em;
  font-size: 2em;
  border-radius: 1em;
  }

#green{
  background:green;
}

div{
  animation: recolor 5s infinite;
}
@keyframes recolor {
  to{background:gray;}
  
 a {
    text-decoration:none;
  }
  
  a:hover{
    text-decoration:underline;
    background:yellow;
  }
  
  div{
    height: 10em;
    width: 10em;
    background: INSER COLOR;
    display: inline-block;
    animation: recolor 5s infinite;
  }
     

