img {
  height: 10em;
  width: 10em;
  display: inline-block;
}

a{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background: blue;
}

div {
  height: 10em;
  width: 10em;

  display: inline-block;
  animation: recolor 5s infinite;
}

#blue {
  background: blue;
}

#orange {
  background: url('https://images.pexels.com/photos/1029604/pexels-photo-1029604.jpeg');
}

@keyframes recolor {
  to {background: blue;}
}
  button{
    background: green;
    box-shadow: .5em .5em gray;
    padding: 1em;
    font-size: 2em;
    border-radius: 1em;
  }
