           img{
           height:10em;
           width:10em:
           }
          a{
           text-decoration:none;
           }
           a:hover{
           text-decoration:underline;
           background:red;
           }
           
           div{
           height:10em;
           width:10em;
           background:green;
           display:inline-block;
           animation:recolor 5s infinite;
           }
           
           #orange{
           background:orange;
           }
 #brown{
           background:brown;
           }
           @keyframes recolor{
           to {backround:green;}
           }
           
          
