img{
  height: 10em;
  width: 10em;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
    background: green;
}
div{
  heigth: 10em;
  width: 10em;
   display: inline-block;
  animation: recolor 3s infinite;
}
#red{
  background-color:green;
}
#blue{
  background-color: blue;
}
@keyframes recolor{
  to {background: green;}
}
