img{
  height: 20em;
  width: 20em;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
    background: green;
}
div{
  heigth: 10em;
  width: 10em;
  background: blue;
  display: inline-block;
  animation: recolor 3s infinite;
}
