p {
  color: #147A4E;
  font-size: 2.5em;
}

img {
  height: 35em;
  width: 65em;
  display: none;
}

div {
  height: 7em;
  width: 13em;
  margin: 1em;
}

#pink {
  background: #edc536;
}

#purple {
  background: #b71651;
}

div {
  animation: recolor 5s infinite;
}

@keyframes recolor {
  to {
    background: #e28522;
  }
}

button {
  border-radius: 1em;
  padding: 1em;
  background: black;
  color: white;
}

button:hover {
  box-shadow: .5em 0em .5em .5em gray;
}  


@media only screen and (max-width: 600px) {
  body {
    background: url('https://images.pexels.com/photos/1235706/pexels-photo-1235706.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
