p {
  color: #ff0066;
  font-size: 2em;
}

img {
  height: 10em;
  width: 10em;
}

div {
  height: 10em;
  width: 10em;
  margin: 1em;
}

#red {
  background: red;
}

#orange{background:orange;}

div {
  animation: recolor 5s infinite;
}

@keyframes recolor {
  to {
    background: green;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background: url('https://images.pexels.com/photos/449627/pexels-photo-449627.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

