div, img {
  height: 12em;
  width: 12em;
  display: inline-block;
  margin: 1em;
}

#red {
  background: #ff0000;
}

#green {
  background: #00cc44;
}

#rounded {
  border-radius: 1em;
  padding: 2em;
  background: #ff3300;  
}

#rounded:hover {
  box-shadow: .5em .5em #d9d9d9;
}


