img {
  height: 20em;
  width: 20em;
}
a{
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
  background: yellow;
}

div{
  height: 10em;
  width: 10em;
  background: pink;
  display: inline-block;
  animation: recolor 5s infinite;
}

#orange {background: orange;}
#yellow {background: yellow;}

@keyframes recolor {
  to {background: purple;}
}

@media (max-width: 600px) {
  body {
    background: pink;
  }
}


