div.img{
  height: 12em;
  width:12em;
  display:inline-block;
  margin:1em}
#red {background:#ff0000;}
#green{background:#00cc44;}

div{
  animation:recolor 5s infinite;
}
@keyframes recolor {
  to(background:blue;}

